
.base-card:hover {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
}

.base-card .card-header {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background-primary);
  border-bottom: 1px solid var(--color-border);
}

.base-card .card-header h3 {
  margin: 0;
  font-size: 17rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--color-text-primary);
}

.base-card .card-header svg {
  pointer-events: none;
  user-select: none;
} 