:root {
  --quote-gradient: linear-gradient(45deg, #00c6ff, #ff00dd);
  --author-gradient: linear-gradient(45deg, #66d8ff, #ff66e5);
}

[data-theme="dark"] {
  --quote-gradient: linear-gradient(45deg, #00ffea, #ff47d1);
  --author-gradient: linear-gradient(45deg, #66fff1, #ff8ae2);
}

.daily-quote-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  text-align: center;
}

.quote-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.quote-text {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 800;
  margin-bottom: 16px;
  background: var(--quote-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: italic;
}

.quote-author {
  font-size: 1.2em;
  background: var(--author-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: right;
  padding-right: 20px;
} 